<div class="login-box">

  <!-- /.login-logo -->
  <div class="login-box-body">
    <div class="login-logo">
      <b>Portal</b> App</a>
    </div>
    <p class="login-box-msg">Sign in to start your session</p>

    <div class="alert alert-info form-group" v-if="errorStatus.state">
      <span class="help-block">
        <strong>{{errorStatus.content}}</strong>
      </span>
    </div>
    <br>

    <form @submit.prevent="validateBeforeSubmit">

      <div class="form-group has-feedback" :class="{ 'has-error': errors.has('email') }">
        <input v-model="email" v-validate="'required|email'" ref="email" name="email" class="form-control" :class="{'input': true, 'is-danger': errors.has('email') }"
          placeholder="Email">
        <span v-show="errors.has('email')" class="help-block is-danger">
          <strong>{{ errors.first('email') }}</strong>
        </span>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback " :class="{ 'has-error': errors.has('password') }">
        <input v-validate="'required'" v-model="password" ref="password" type="password" name="password" class="form-control" :class="{'input': true, 'is-danger': errors.has('password') }"
          placeholder="Password">
        <span v-show="errors.any()" class="help-block is-danger">
          <strong>{{ errors.first('password') }}</strong>
        </span>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>

      <div class="row">
        <div class="col-xs-8">
          <!-- <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Remember Me
            </label>
          </div> -->
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
    <a href="#">I forgot my password</a>
    <br>
    <a href="#" class="text-center">Contact</a>
    <!-- <a href="#">I forgot my password</a><br> -->
  </div>
</div>